@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force canvas to allow vertical panning (scrolling) */
canvas {
  touch-action: pan-y !important;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  background-color: white;
}
